main{
  min-height: 80vh;
}

.customer-holder{
  /* other base styles go here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.transfer{

  height: 83vh;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.transfer-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.transfer-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.transfer input{
  width:50%;
  font-size: 20px;
  padding-left: 10px;
}
.transfer button{
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.transfer button:hover{
  cursor: pointer;
}

.bank-img{
 

  height: 500px;
  background-size: contain;
  position: relative;
  left:25%;
  right:5%;
  background-position: center;
  
  
}

.title{
  height:30%;
  text-align: center;
  z-index: 3;
  background-size:100% 40%;
 
}

.landing-page{
  background-color: lightgrey;
}