main{
  min-height: 80vh;
}

.customer-holder{
  /* other base styles go here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.transfer{

  height: 70vh;
  
  background: linear-gradient(to bottom, #666699 0%, #999966 100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.transfer-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: white;
}
.transfer-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.transfer input{
  width:50%;
  font-size: 20px;
  padding-left: 10px;
}
.transfer button{
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.transfer button:hover{
  cursor: pointer;
}

.bank-img{
 

  height: 500px;
  background-size: contain;
  position: relative;
  left:25%;
  right:5%;
  background-position: center;
  
  
}

.title{
  height:30%;
  text-align: center;
  z-index: 3;
  background-size:100% 40%;
 
}

.landing-page{
  background-color: lightgrey;
}



.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: linear-gradient(to bottom, #666699 0%, #999966 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 63vh;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.containe {
  
  width:50%;
  height: 50%;
  font-size: 20px;
  padding-left: 10px;
}